<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/styles.css' %}">
    <title>Todos</title>
</head>
<body>
    <h1>My To-Dos</h1>

    <ul>
        {% for todo in todos %}
        <li>{{ todo }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'remove' %}"><button>Remove last item</button></a>
    <a href="{% url 'add' %}"><button>Create new To-Do</button></a>
</body>
</html>